.title {
    background-image: url(https://i.ytimg.com/vi/Ru11UkoIS-U/maxresdefault.jpg);
    background-position: center, center;
    background-repeat: initial;
    background-size: cover;
    width: 100%;
    height: 600px;
}