/* tags */

/* classes */
.soundcloud {
    opacity: 0.7;
}
.header {
    background-image: url(https://i.ytimg.com/vi/Ru11UkoIS-U/maxresdefault.jpg);
     background-position: center,center;
      background-repeat: no-repeat;
       background-size: cover;
        background-attachment: fixed; 
        text-align:center;
        font-size: 100px; 
        
}

/* ids */
